@using FundooApp.Data.Models;
@model System.Collections.Generic.List<tblNote>
@using Newtonsoft.Json;


@{
    ViewBag.Title = "Archive";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}

<sidenav></sidenav>
<body ng-controller="NotesController" style="max-height:100%;background-color:gainsboro;">

    @if (Model != null)
    {
        <div ng-cloak layout="row" flex-offset="20" layout-align-xs="center" layout-wrap layout-xs="column" layout-sm="row" layout-md="row" style="flex-wrap:wrap;">
            @foreach (tblNote obj in Model.Reverse<tblNote>())
            {
                if (@obj.IsArchive == 1 && obj.IsPin == 0 && obj.IsTrash == 0)
                {
                    <md-card class="showicon" ng-style="CustomStyle" flex="20" flex-lg="25" flex-md="25" flex-sm="40" flex-xs="40" style="word-wrap:break-word;height:100%!important;background-color:@obj.ColorCode;">
                        <div>
                            <div layout="row" style="padding-left:10px;">
                                <div flex="90"><h3 style="white-space: pre-line">@obj.Title</h3></div>
                                <div class="showicon icon" flex="10" style="margin-top:5px">
                                    <button ng-click="PinNote_Archive(@JsonConvert.SerializeObject(obj))" style="border:none; background:transparent;margin-bottom:10px">
                                        <md-icon md-svg-icon="~/Images/pinned.svg"></md-icon>
                                    </button>
                                    <span class="pin">Pin </span>
                                </div>
                            </div>
                            <div style="padding-left:10px;font-size:16px">
                                <span style="white-space: pre-line;">@obj.Content</span>
                            </div>
                            @if (obj.ImageUrl != null)
                            {
                                <img src="@obj.ImageUrl" style="width:100%;height:auto;" />

                            }
                        </div>
                        @if (obj.Reminder != null)
                        {
                            <md-chips md-removable="true" readonly="false">
                                <md-chip>
                                    <p>
                                        @obj.Reminder  <md-icon md-svg-icon="~/Images/ic_cancel_black_18px.svg" ng-click="remove(@JsonConvert.SerializeObject(obj))" style="opacity:0.5"></md-icon>
                                    </p>
                                </md-chip>
                            </md-chips>
                        }
                        <div class="showicon" layout="row" layout-align="space-around end" style="margin-bottom:15px">
                            <md-menu class="icon">
                                <button ng-click="openMenu($mdMenu, $event)" style="border:none; background:transparent;">
                                    <md-icon md-svg-icon="~/Images/download.svg"></md-icon>
                                </button>
                                <md-menu-content width="4">
                                    <md-menu-item layout="column" style="height:100%">
                                        <h5>Reminder:</h5>
                                        <md-button ng-click="rem1(@JsonConvert.SerializeObject(obj))">Later Today   8:00PM</md-button>
                                        <md-button ng-click="rem2(@JsonConvert.SerializeObject(obj))">Tomorrow      8:00AM</md-button>
                                        <md-button ng-click="rem3(@JsonConvert.SerializeObject(obj))">Next Week     Mon,8:00PM</md-button>
                                        <md-button ng-click="Pick()">
                                            <md-icon md-svg-icon="~/Images/ic_alarm_black_24px.svg"></md-icon>
                                            Pick Date and Time
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                                <span class="remainder">Reminder</span>

                            </md-menu>
                            @*<button  style="border:none; background:transparent;">
                                    <md-icon md-svg-icon="~/Images/ic_color_lens_black_24px.svg"></md-icon>
                                </button>*@

                            <md-menu class="showicon icon">
                                <button ng-click="openMenu($mdMenu, $event)" style="border:none; background:transparent;">
                                    <md-icon md-svg-icon="~/Images/ic_color_lens_black_24px.svg"></md-icon>
                                </button>
                                <md-menu-content style="height:80px;">
                                    <md-menu-item>
                                        <div>
                                            <div style="margin-bottom:5px">
                                                <button ng-click="color(@JsonConvert.SerializeObject(obj),'rgb(130, 177, 255)')" style="border-radius:100%;outline:none;border:none ;background-color:rgb(130, 177, 255)">
                                                    <md-icon md-svg-src=""></md-icon>
                                                </button>

                                                <button ng-click="color(@JsonConvert.SerializeObject(obj),' rgb(248, 187, 208)')" style="border-radius:100%;outline:none;border:none ;background-color: rgb(248, 187, 208);">
                                                    <md-icon md-svg-src=""></md-icon>
                                                </button>

                                                <button ng-click="color(@JsonConvert.SerializeObject(obj),' rgb(179, 136, 255)')" style="border-radius:100%;outline:none;border:none ;background-color:rgb(179, 136, 255)">
                                                    <md-icon md-svg-src=""></md-icon>
                                                </button>
                                            </div>
                                            <div>
                                                <button ng-click="color(@JsonConvert.SerializeObject(obj),' rgb(255, 255, 141)')" style="border-radius:100%;outline:none;border:none ;background-color:rgb(255, 255, 141)">
                                                    <md-icon md-svg-src=""></md-icon>
                                                </button>

                                                <button ng-click="color(@JsonConvert.SerializeObject(obj),' rgb(204, 255, 144)')" style="border-radius:100%;outline:none;border:none ;background-color:rgb(204, 255, 144)">
                                                    <md-icon md-svg-src=""></md-icon>
                                                </button>

                                                <button ng-click="color(@JsonConvert.SerializeObject(obj),'rgb(207, 216, 220)')" style="border-radius:100%;outline:none;border:none ;background-color:rgb(207, 216, 220)">
                                                    <md-icon md-svg-src=""></md-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </md-menu-item>
                                </md-menu-content>
                                <span class="color">Color</span>

                            </md-menu>

                            <div class="icon">
                                <button style="border:none; background:transparent;">
                                    <md-icon md-svg-icon="~/Images/ic_insert_photo_black_24px.svg"></md-icon>
                                </button>
                                <span class="addImage">Add Image</span>
                            </div>

                            <div class="icon">
                                <button ng-click="addArchive(@JsonConvert.SerializeObject(obj))" style="border:none; background:transparent;">
                                    <md-icon md-svg-icon="~/Images/ic_archive_black_24px.svg"> </md-icon>
                                </button>
                                <span class="archive">UnArchive</span>
                            </div>

                            @*<div class="icon">
                                    <button ng-click="PinNote(@obj.ID,@obj.IsPin)" style="border:none; background:transparent;">
                                        <md-icon md-svg-icon="~/Images/pinned.svg"></md-icon>
                                    </button>
                                    <span class="pin">Pin</span>
                                </div>*@

                            <md-menu class="icon">
                                <button ng-click="openMenu($mdMenu, $event)" style="border:none; background:transparent;">
                                    <md-icon md-svg-icon="~/Images/ic_more_vert_black_24px.svg"> </md-icon>
                                </button>
                                <md-menu-content width="3">
                                    <md-menu-item layout="column" style="height:100px">
                                        <md-button ng-click="Deletenote(@JsonConvert.SerializeObject(obj))">Delete Note</md-button>
                                        <md-button ng-click="CopyNote(@JsonConvert.SerializeObject(obj))">Make a copy </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                                <span class="more">More</span>
                            </md-menu>
                        </div>
                    </md-card>
                }

            }
        </div>
    }

</body>

